.team {
  margin-top: 0;
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.team__list {
  display: flex;
  margin-left: -30px;
}
.team__item {
  width: calc(100% / 4 - 30px);
  margin-left: 30px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.team__title-members {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.team__text {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.team__text-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__text-list {
  display: flex;
  justify-content: center;
}
.team__text-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  background-color: #fff;
  border-radius: 50%;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team__text-link:hover,
.team__text-link:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}
.team__text-item + .team__text-item {
  margin-left: 10px;
}
.team__text-icon {
  fill: currentColor;
}
.client__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.client__list {
  display: flex;
}
.client__link {
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  color: #e5e5e5;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client__link:hover,
.client__link:focus {
  border: 1px solid var(--accent-color);
}
.client__link:hover .client__icon,
.client__link:focus .client__icon {
  fill: var(--accent-color);
}
.client__item + .client__item {
  margin-left: 30px;
}
.client__icon {
  display: flex;
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
